

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.LoginButton {
    width: 250px;
    color: #fff !important;
    background-color: rgb(87, 103, 124) !important;
}

.LoginButton:hover {
    background-color: rgb(49, 46, 46) !important;
}